@import "tailwindcss";

@theme {
  --color-border-default: #54565f;
  --color-border-focus: #0d3ee3;
  --color-border-selected: #0429bc;
  --color-border-subtle: #292b2e;
  --color-brand-default: #052fd3;
  --color-brand-hover: #4878ea;
  --color-brand-light: #9ab7f3;
  --color-brand-logo: #d1d2d7;
  --color-button-primary-default: #052fd3;
  --color-button-primary-hover: #4878ea;
  --color-button-secondary-default: #292b2e;
  --color-button-secondary-hover: #46474e;
  --color-card-secundary: #0d0d0d;
  --color-card-surface: #37393f;
  --color-categories-data: #a6e22e;
  --color-categories-devops: #f92672;
  --color-categories-frontend: #66d9ef;
  --color-categories-gestao: #ff701f;
  --color-categories-ia: #ae81ff;
  --color-categories-mobile: #ffd500;
  --color-categories-programacao: #19a05d;
  --color-categories-ux: #e748e9;
  --color-code-syntax-command: #66d9ef;
  --color-code-syntax-keyword: #f92672;
  --color-code-syntax-number: #ae81ff;
  --color-code-syntax-string: #a6e22e;
  --color-code-syntax-variable: #fd971f;
  --color-feedback-attention-default: #ffd500;
  --color-feedback-attention-surface: #e0bb00;
  --color-feedback-checkpoint-default: #fc6008;
  --color-feedback-checkpoint-surface: #ca4b02;
  --color-feedback-error-default: #fe002a;
  --color-feedback-error-surface: #b8001f;
  --color-feedback-info-default: #7a9ff0;
  --color-feedback-info-surface: #0d0d0d;
  --color-feedback-success-default: #01cb29;
  --color-feedback-success-surface: #018e1d;
  --color-icon-main-card: #46474e;
  --color-icon-on-brand: #ffffff;
  --color-icon-primary: #c1c2c8;
  --color-icon-secondary: #80838e;
  --color-interactive-primary-default: #052fd3;
  --color-interactive-primary-disabled: #71747f;
  --color-interactive-primary-focus: #0d3ee3;
  --color-interactive-primary-hover: #4878ea;
  --color-interactive-primary-pressed: #7a9ff0;
  --color-interactive-secondary-default: #0d3ee3;
  --color-interactive-secondary-disabled: #71747f;
  --color-interactive-secondary-focus: #0d3ee3;
  --color-interactive-secondary-hover: #7a9ff0;
  --color-interactive-secondary-pressed: #7a9ff0;
  --color-surface-brand: #0c0d0e;
  --color-surface-default: #37393f;
  --color-surface-interactive: #54565f;
  --color-surface-secondary: #292b2e;
  --color-surface-subtle: #0d0d0d;
  --color-surface-tertiary: #1b1c1e;
  --color-text-body: #b1b2b9;
  --color-text-disabled: #62656f;
  --color-text-interactive: #5f8bec;
  --color-text-main-card-body: #46474e;
  --color-text-main-card-title: #0c0d0e;
  --color-text-on-brand: #ecf2fd;
  --color-text-subtle-2: #888d96;
  --color-text-title: #f4f5f6;
}
